<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <add key="RemoteSyncServers" value="IRDNepal"/>
    <add key="user_IRDNepal" value="Test_CBMS" />
    <add key="pwd_IRDNepal" value="test@321" />
    <add key="url_IRDNepal" value="http://202.166.207.75:9050" />
    <add key="api_SalesIRDNepal" value="api/bill" />
    <add key="api_SalesReturnIRDNepal" value="api/billreturn" />
    <add key="seller_pan_IRDNepal" value="999999999" />
    <add key="maximumTXNRecords" value="200" />
    <add key="DestinationPathAPI" value="D:\DanpheHealthCare\Medik\R2V1\Dev\Code\Storage\API-DicomStorage"/>
  </appSettings>
  <connectionStrings>
    <add name="irdNplConnStr" connectionString="Data Source=DESKTOP-F76MIFR\SQLEXPRESS;Initial Catalog=BIL_Medik;Integrated Security=True;MultipleActiveResultSets=true" />
    <add name="DefaultConnection" 
         connectionString="Data Source=.;Initial Catalog=DanpheEMR_OS;User Id=PolypusDanphe;Password=+8iTQZ8Z/N5hIoRljvG5sQ==;" />
  </connectionStrings>
</configuration>
